
.nav-bar{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    margin-left: 6em;
    max-width: 100%;
}
.nav-bar a{
    text-decoration: none;
    text-decoration: none;
    color: #6B7280;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    margin-right: 2em;
}
.home a{
    color: black;
    font-weight: 700;
}
.home-last a{
    color: black;
    font-weight: 600;
}
.home-last img{
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.color{
    color: #E95A08;
}
button{
    background-color: #E95A08;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5em;
    margin-left: 4em;
    
}
.banner-img{
    margin-top: 8%;
    max-width: 100%;
    height: auto;
    display: block;
}
.banner-tittle h3{
    margin-top: 120px;
    width: 500px;
    height: 140px;
    font-size: 3.75em;
}
.banner-tittle p{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.5);
    width: 600px;
}
.banner-head{
   font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: bold;
  font-variation-settings:
    "wdth" 100;
}

.plant-tittle h2{
    font-size: 3em;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
    font-variation-settings:
    "wdth" 100;
}

.plant-tittle p{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: bold;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.5);
    width: 70%;
    margin-left: 18%;
}
.plant-tittle{
    text-align: center;
    margin-top: 4em;
}
.plant-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 5em;
    margin-top: 5em;
}
.plant-card button{
    align-items: center;
    color: white;
    border: none;
    height: 3.75em;
    width: 20.25em;
    margin-bottom: 2em;
}
.plant-card p{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: bold;
    font-size: 1.25em;
    width: 70%;
    margin-left: 26%;
}
.plant-card h3{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: bold;
    font-size: 1.25em;
    width: 70%;
    margin-left: 20.25%;
}
.flower-store{
    margin-top: -180px;
}
#img-badge img{
    width: 35%;
    margin-top: -8em;
    margin-left: 360px;
    position: relative;
}

.plant-lover{
    display: flex;
    margin-top: 5em;
    margin-left: 5em;
    gap: 9em;

}
.plant-lover h3{
    margin-left: -250px;
    max-width: 400px;
    font-size: 2.5em;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
    font-variation-settings:
    "wdth" 100;
}
.plant-lover li{
    margin-left: -250px;
    max-width: 450px;
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.25em;
    color: rgba(0, 0, 0, 0.5);
}
.deal-tittle h3{
     font-size: 3em;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
    font-variation-settings:
    "wdth" 100;
    text-align: center;
    margin-top: 4em;
}
.deal-tittle p{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: bold;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.5);
    width: 70%;
    margin-left: 18%;
}
.deal-layout{
    display: flex;
    justify-content: space-around;
    margin-top: 5em;
    
}
.layout-img1{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../image/deal-bloom.png);
    height: 10em;
    width: 25em;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 10px;
}
.layout-img2{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../image/deal-ana.png);
    height: 10em;
    width: 25em;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 10px;
    margin-top: 20px;
}
.deal-layout a{
    color: blanchedalmond;
}
.main-layout{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../image/deal-zabo.png);
    min-width: 600px;
    height: 21em;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.join-section{
    margin-top: 5em;
    background-image: url(../image/news-letter-bg.png);
    height: 500px;
    justify-items: center;
    align-content: center;
    
}
.join-section h3{
    font-size: 2.5em;
    color: white;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
    font-variation-settings:
    "wdth" 100;
}
.join-section input{
   margin-left: 26%; 
   height: 3.15em;
   width: 37.5em;
   border: none;
}
.join-section button{
    margin-left: -4px;
    background-color: #E95A08;
    color: white;
    border: none;
    height: 3.25em;
    width: 12.25em;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;   
}
footer{
    margin-top: 3em;
    margin-left: 3em;
    display: flex;
    justify-content: space-around;
}
footer a{
    text-decoration: none;
    margin-bottom: 2em;
    color: #6B7280;
}
.footer-links{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100px;
}
.footer-links-1{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100px;
}
footer h3{
    max-width: 320px;
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.25em;
    color: rgba(0, 0, 0, 0.5);
}
.footer-img{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
/*responsive for small device */
@media screen and (max-width: 576px) {
    .span-a{
        display: none;
    }
    .nav-bar {
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
    .home-last{
        margin-right: 30px;
    }
    .nav-bar{
        max-width: 400px;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }
    .banner{
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
    }
    .banner-img img{
        margin-left: 10px;
        height: auto;
        width: 80%;
    }
    .banner-tittle h3{
        font-size: 30px;
        margin-left: 10px;
        margin-top: 20px;
        width: 90%;
        
    }
    .banner-head{
        margin: 0;
    }
    .img-badge{

    }
    .banner-tittle p{
        width: 320px;
        font-size: 16px;
        margin-top: 2px;
        margin-left: 5px;
    }
        /* .banner-head{
            font-size: medium;
            width: 20px;
            height: 20px;
            margin: 0;
            padding: 0;
        } */
    .plant-tittle h2{
        font-size: 33px;
    }
    .plant-tittle p{

        font-size: 14px;
        width: 370px;
        margin-left: 1px;
        /* margin-left: 25px; */
    }
    .plant-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 5em;
        margin-left: 20px;
        gap: 3px;  
    }
    .plant-card img{
        width: 150px;
        height: auto;
    }    
    .plant-card button{
        width: 150px;
    }  
    .plant-card h3{
        margin-left: 20px;
    }
    .plant-card p{
        margin-left: 30px;
    }
    .plant-lover{
        display: block;
        margin-left: 20px;
    }
    .flower-store img{
        width: 18em;
        height: auto;
        margin-top: 100px;
        margin-left: 10px;
    }
    .plant-lover h3{
        font-size: 25px;
        margin-left: 10px;
    }
    .plant-lover ul>li{
        font-size: 14px;
        width: 200px;
        margin-left: 2px;
    }
    .latest-deal-section{
        text-align: center;
    }
    .deal-tittle h3{
        font-size: 25px;
    }
    .deal-tittle p{
        font-size: 14px;
        width: 370px;
    }
    .deal-layout{
        display: inline;
    }
    .main-layout{
        background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../image/deal-zabo.png);
        min-width: 380px;
        height: 160px;
        margin-top: 15px;
    }
    .join-section{
        /* margin-top: 5em; */
        background-image: url(../image/news-letter-bg.png);
        height: 330px;
        width: 430px;
    }
    .join-section h3{
        font-size: 25px;
    }
    .join-section input{
        width: 50%;
        margin-left: 70px;
    }
    .join-section button{
        width: 20%;
    }
    footer{
        display: inline;
    }
    footer h3{
        font-size: 16px;
    }
    #img-badge{
        display: none;
    }
   
}